__pycache__/
scripts/__pycache__/
*.pyc
logs/
.history/
.venv/
wos/.venv/
tmp/
wos/tmp/**
!wos/tmp/.gitkeep
wos/config.json
wos/data/player_hero_skills.json
captures
wos/testcases/**
!wos/testcases/.gitkeep
wos/training/